#display {
    width:500px;
    height:250px;
    border-right: 2px solid darkblue;
    border-left: 2px solid darkblue;
    border-top: 2px solid darkblue;

    display:flex;
    flex-direction: column;
}

#header {
    background-color:darkblue;
    flex-grow:1;
}

#screen {
    max-height: 125px;
    flex-grow: 1;
}

#userButtons {
    border: 2px solid darkblue;
    width:500px;
    height: 625px;
    display:flex;
    align-content:space-between;
}

#digitButtons {
    flex-grow: 2;
    display:flex;
    flex-wrap:wrap;
}

#operators {
    flex-grow: 1;
    display:flex;
    flex-direction:column;
}

button {
    box-sizing: border-box;
    width: 125px;
    height: 125px;
}

#addition {
    flex-grow: 2;
}